.faq-section-container {
    max-width: 768px;
    margin: 0 auto;
}
.faq-card-section {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.faq-card {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    flex: 1 0 48%;
    height: fit-content;
    overflow: hidden;
}
.faq-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 16px;
    height: 86px;
    gap: 16px;
}
.faq-card hr {
    border: 1px solid #9DB355;
    margin: 8px 0px;
}
.faq-answer br {
    margin-bottom: 16px;
}
.hide-show-section {
    height: 0;
    transition: all 0.2s linear;
    padding: 0 16px;
}
.faq-answer p {
    padding-bottom: 16px;
}