@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap');

/* Header styles */
.desktop-header-bg {
    background-color: #fff;
    position: sticky;
    padding: 0 24px;
    top: 0;
    z-index: 100;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo img {
    max-width: 10%;
}

.actions {
    display: flex;
    align-items: center;
}

.whatsapp-icon {
    margin-right: 10px;
    font-size: 24px;
    color: #fff;
}

.highlight-section {
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #9DB355;
    margin: 24px 0px;
    background-color: rgba(157, 179, 85, .1);
    display: flex;
    align-items: center;
}
.highlight-section img {
    height: 100%;
    width: 56px;
    float: left;
    margin-right: 24px;
}
.highlight-section .content {
    flex: 1;
}

.contact-button {
    background-color: #49B0D9;
    border: 1px solid #49B0D9;
    color: #fff;
    border-radius: 20px;
    padding: 8px 24px;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
    font-family: "Roboto", sans-serif;
    width:250px;
}

.green-button {
    background-color: #9DB355;
    border: none;
    padding: 8px 16px;
    margin-top: 16px;
    color: #fff;
    font-size: 1.1rem;
}

.contact-button-without-icon {
    background-color: #49B0D9;
    border: 1px solid #49B0D9;
    color: #fff;
    border-radius: 20px;
    padding: 8px 24px;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
    font-family: "Roboto", sans-serif;
}

.ghost-button {
    background-color: #fff;
    color: #044D84;
    border: none;
    border-bottom: 2px solid #044d84;
    padding: 8px 12px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    font-family: "Roboto", sans-serif;
}

.contact-button:hover,
.contact-button-without-icon:hover {
    background-color: #D2476A;
    border: 1px solid #fff;
}

.contact-button img {
    margin-right: 5px;
}

.quote-button {
    height: 100%;
    padding: 8px;
    background-color: #D2476A;
    color: #fff;
    border: none;
    word-wrap: break-word;
    white-space: normal;
    font-size: 1.2rem;
    margin-right: 0;
    width: 112px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 8px 2px rgba(210, 71, 106, 0.6);
    animation: glowing 1s infinite;
    transition: box-shadow 0.3s ease;
}

@keyframes glowing {
    0% {
        background-color: #D2476A;
        box-shadow: 0 0 8px 2px rgba(210, 71, 106, 0.6);
    }
    50% {
        background-color: #ff0000;
        box-shadow: 0 0 16px 4px rgba(226, 90, 120, 0.8);
    }
    100% {
        background-color: #D2476A;
        box-shadow: 0 0 8px 2px rgba(210, 71, 106, 0.6);
    }
}

.quote-button:hover {
    background-color: #89223b;
    box-shadow: 0 0 16px 4px rgba(137, 34, 59, 0.8);
}

/* Mobile header */
.mobile-actions {
    background-color: #044D84;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-center-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.mobile-actions>* {
    /*margin: 0 12px;*/
    /* Set margin between actions to 24px */
}

.mobile-logo {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

/* Desktop Navigation Styles */

.desktop-nav {
    background-color: #044D84;
    height: 40px;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 80px;
    z-index: 100;
}

.desktop-nav .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-center-buttons {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 16px;
}

.desktop-nav .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.desktop-nav .menu li {
    margin: 0 1rem;
    color: #fff;
}

.desktop-nav .menu li:last-child {
    margin-right: 0;
}

.desktop-nav .dropdown-content {
    display: none;
}

.desktop-nav .dropdown:hover .dropdown-content {
    display: block;
    width: 160px;
}

/* Remove default list styles */
.menu {
    list-style: none;
    padding: 8px;
    margin: 0px;
}

/* Adjust padding and margin of list items */
.menu li {
    margin: 0 20px;
    /* Adjust margin as needed */
}

/* Style menu items as white color Arial text */
.menu li a {
    color: #fff;
    /* Set text color to white */
    font-family: "Roboto", sans-serif;
    /* Set font family to Arial */
    text-decoration: none;
    /* Remove underline from links */
    font-size: 16px;
    font-weight: 500;
}

/* Style dropdown content */
.dropdown {
    position: relative;
    /* Ensure the dropdown container is positioned */
}

.dropdown-content {
    position: absolute;
    background-color: #044D84;
    /* Set background color */
    z-index: 1;
    /* Ensure dropdown appears above other content */
    padding: 24px 16px 16px 16px;
    /* Add padding */
    border-radius: 4px;
    z-index: 2;
}

/* Style dropdown content items */
.dropdown-content a {
    display: block;
    /* Display items as blocks */
    color: #333;
    /* Set text color */
    padding: 8px;
    /* Add padding */
    text-decoration: none;
    /* Remove underline */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: background-color 0.2s ease-in-out;
}

/* Style dropdown content items on hover */
.dropdown-content a:hover {
    background-color: #0672C4;
    /* Change background color on hover */
}


/* Mobile Navigation Styles */
.mobile-nav {
    background-color: #044D84;
    display: none;
    justify-content: flex-end;
    /* Align items to the right */
    align-items: center;
    padding: 0 20px;
    position: relative;
    /* Position relative for absolute positioning */
}

.mobile-nav {
    display: none;
}

/* Remove default list styles */
.mobile-menu {
    list-style: none;
    padding: 8px;
    margin: 0;
    position: fixed;
    top: 124px;
    /* Position below the menu icon */
    right: 16px;
    /* Align to the right */
    background-color: #044D84;
    /* Match background color */
    border-radius: 4px;
    /* Add border radius */
    width: 280px;
    z-index: 101;
}

/* Adjust padding and margin of list items */
.mobile-menu li {
    margin: 0;
    /* Adjust margin as needed */
}

/* Style menu items as white color Arial text */
.mobile-menu li a {
    color: #fff;
    /* Set text color to white */
    font-family: "Roboto", sans-serif;
    /* Set font family to Roboto */
    text-decoration: none;
    /* Remove underline */
    font-size: 16px;
    font-weight: 500;
    display: block;
    padding: 8px 20px;
    /* Adjust padding */
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.mobile-dropdown-content {
    display: none;
    background-color: #044D84;
    border-radius: 4px;
    padding: 8px 0;
    /* Adjust padding */
}

.mobile-dropdown-content a {
    color: #fff;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: 14px;
    padding: 8px 16px;
}

.mobile-dropdown.active .mobile-dropdown-content {
    display: block;
}


/* Drop down arrow animation*/
/* Define transition for rotation */
.dropdown-arrow {
    transition: transform 0.3s ease;
}

/* Define rotated state */
.dropdown-arrow.rotate {
    transform: rotate(-90deg);
}

/*------ STYLE FOR CONTAINERS START ---------*/
.responsive-padding-40-16 {
    padding: 40px;
}

.padding-16 {
    padding: 16px;
}

.centretext {
    text-align: center;
}

.padding8 {
    padding: 8px;
}

.boxshadow {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

.margin-bottom-24 {
    margin-bottom: 24px;
}

.margin-top-36 {
    margin-top: 36px;
}

ul {
    padding: 16px 0px 0px 16px;
}

li {
    margin-bottom: 8px;
    line-height: 26px;
}

/*------ STYLE FOR CONTAINERS END -----------*/

/*----------- Small cards START --------------*/
.small-card {
    width: auto;
    max-width: 330px;
    height: auto;
    padding: 16px 24px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.small-card:hover {
    background-color: #f0f9ff;
}

.small-card .card-icon {
    margin-bottom: 24px;
    /* Margin between icon and text */
    width: 80px;
    /* Adjust size as needed */
    height: 80px;
    /* Adjust size as needed */
}

.small-card .card-title {
    margin-bottom: 8px;
    /* Margin between title and description */
}

.small-card .card-description {
    margin-bottom: 0;
}

.small-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* 2x2 grid on desktop */
    gap: 24px;
    margin: 0 auto;
    max-width: 1040px;
    /* Adjust max-width as needed */
    justify-items: center;
}

/*----------- Small cards End ----------------*/

/*--------------------- Service cards START ---------------------*/
.servicecards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    /* 2x2 grid on desktop */
    gap: 26px;
    margin: 0 auto;
    max-width: 920px;
    /* Adjust max-width as needed */
    justify-items: center;
}

.card-container {
    max-width: 448px;
    min-height: 274px;
    height: auto;
    display: flex;
    padding: 8px;
    border-radius: 4px;
}

.card-image {
    flex: 1;
    background-size: cover;
    background-position: center;
    margin-right: 8px;
}

.card-image-1 {
    background-image: url('../img/super-visa-insurance.jpg');
}

.card-image-2 {
    background-image: url('../img/visitor-insurance.jpg');
}

.card-image-3 {
    background-image: url('../img/travel-insurance.jpg');
}

.card-image-4 {
    background-image: url('../img/life-insurance.jpg');
}

.card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
}

.card-heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.card-description {
    margin-bottom: 20px;
}

/*--------------------- Service cards END ---------------------*/

/*------------------- Buttons START ----------------------------*/
.button-primary-blue {
    background-color: #044D84;
    color: #fff;
    width: fit-content;
    padding: 8px 16px;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.button-primary-blue:hover {
    background-color: #0672C4;
}

.button-secondary-blue {
    background-color: transparent;
    color: #044D84;
    width: fit-content;
    padding: 8px 16px;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid #044D84;
    cursor: pointer;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.button-secondary-blue:hover {
    color: #0672C4;
    border-color: #0672C4;
}

/*------------------- Buttons END ----------------------------*/
/*------------------- ABOUT US COMPONENT START ---------------*/
.about-us-component {
    display: flex;
    justify-content: center;
    width: 100%;
}

.about-us-component-content {
    max-width: 1440px;
    width: 100%;
    box-sizing: border-box;
}

.about-us-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.about-us-left-component {
    flex-basis: 60%;
    /* 60% width for the left column */
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
    margin-right: 8px;
}

.about-us-right-component {
    flex-basis: 40%;
    /* 40% width for the right column */
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
}

.about-us-right-component-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-image {
    max-width: 100%;
    height: auto;
    max-height: 350px;
}

.character-info {
    border-radius: 4px;
    text-align: left;
    width: 80%;
}

.grid-2x2 {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    /* Adjust the gap between grid items */
    width: 60%;
}

.grid-item {
    display: flex;
    align-items: flex-start;
}

.grid-icon {
    flex: 0 0 auto;
    /* Prevent the icon from growing */
    margin-right: 12px;
    /* Adjust the margin between icon and content */
    /* Add additional styling for the icon, e.g., width, height, etc. */
}

.grid-content {
    flex: 1;
    /* Allow the content to grow */
    gap: 8px;
    display: grid;
}

/*-------------------- ABOUT US COMPONENT END ----------------*/
/*--------------------- WHY US SECTION STARTS ----------------*/
.why-us-section {
    display: flex;
    justify-content: center;
    width: 100%;
}

.why-us-section-container {
    max-width: 1440px;
    width: 100%;
    box-sizing: border-box;
}

.why-us-section-container-grid {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.why-us-section-container-item {
    flex-basis: calc(24% - 32px);
    text-align: center;
    /* Center the section content */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

/*---------------------- WHY US SECTION ENDS -----------------*/
/*---------------------- FOOTER SECTION STARTS --------------------*/
.footer-binder {
    max-width: 1440px;
    margin: auto;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 80px;
    margin-bottom: 24px;
    justify-content: space-between;
    gap: 16px;
    align-items: flex-start;
}

.brand-column,
.address-column,
contact-us-column {
    flex: 1;
}

.brand-column {
    max-width: 348px;
}

.address-column,
contact-us-column {
    max-width: 300px;
}

.copyright-and-links {
    display: flex;
    justify-content: space-between;
}

.copyright-info {
    margin-right: auto;
    width: auto;
}

.footer-links {
    width: auto;
    margin-left: auto;
}

.footer-social-media-icons {
    display: flex;
    margin-top: 32px;
}

.footer-social-media-icons img {
    margin-right: 24px;
}

.copyright-and-links {
    margin-top: 24px;
    justify-content: space-between;
    align-items: center;
}

.footer-links a {
    margin-left: 32px;
    cursor: pointer;
    text-decoration: none;
}

.contact-us-column p {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.contact-us-column p img {
    margin-right: 8px;
}

a {
    text-decoration: none;
}

/*----------------------- FOOTER SECTION ENDS ---------------------*/
/*----------------------- INNER PAGE HEADER STARTS --------------------*/
.inner-page-header {
    background-size: cover;
    height: 450px;
    max-width: 1440px;
    margin: auto;
    position: relative;
}

.inner-page-header-content {
    position: absolute;
    bottom: 10%;
    left: 5%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 24px 24px;
    border-radius: 4px;
}

/*------------------------ INNER PAGE HEADER ENDS ---------------------*/
/*------------------------ ARTICLE STYLING STARTS ---------------------*/
.article-container {
    padding: 16px 0;
}

.article-section-2-col-image-text-container {
    margin: 32px 0px;
}

.article-container-section {
    max-width: 768px;
    margin: auto;
}

.article-container .bold {
    margin-top: 32px;
}

.article-section-2-col-image-text {
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding: 40px 0px;
}

.article-section-2-col-image {
    background-size: cover;
    background-position: center;
    flex: 1;
}

.article-section-2-col-text {
    flex: 1;
}

.article-section-full-screen-background {
    margin: 32px 0px;
}

.article-section-full-screen-background-text {
    max-width: 768px;
    margin: 0 auto;
    padding: 40px 0px;
}

.article-section-2-col-text-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.article-section-text-column {
    flex: 1;
}

.three-icon-container {
    margin: 32px 0px;
}

.three-icon {
    max-width: 768px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    flex-wrap: wrap;
    gap: 32px;
    padding: 40px 0px;
}

.three-icon-column {
    flex: 1;
}

.table-wrapper {
    overflow: auto;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    border: 1px solid #ddd;
}

/*------------------------- ARTICLE STYLING ENDS ----------------------*/

/* Media query for desktop (screens wider than 768px) */
@media (min-width: 769px) {
    .desktop-header-bg {
        display: block;
        /* Display container 1 on desktop */
    }

    .mobile-header {
        display: none;
        /* Hide container 2 on desktop */
    }

    .desktop-nav {
        display: flex;
    }
}



/*------------------------ YOUTUBE ----------------------------*/
.video-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 64px 0px 0px 0px;
}

.video-card-spacer {
    flex-grow: 1;
    background-color: transparent;
}

.video-card-spacer iframe {
    width: 100%;
    height: 200px;
    /* Set your desired height for desktop */
}

/*--------------------- TOAST MESSAGE ----------------------*/
.toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #D2476A;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    bottom: 30px;
    right: 30px;
    font-size: 17px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}
.toast.show {
    visibility: visible;
    opacity: 1;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .desktop-header-bg {
        display: none;
        /* Display container 1 on desktop */
    }

    .mobile-header {
        display: block;
        /* Hide container 2 on desktop */
        position: sticky;
        top: 0;
        z-index: 100;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .desktop-nav {
        display: none;
    }

    .servicecards {
        grid-template-columns: 1fr;
        /* Single column on mobile */
        justify-items: stretch;
        padding: 16px;
    }

    .card-container {
        max-width: none;
        /* Allow full width on mobile */
        height: auto;
    }

    .responsive-padding-40-16 {
        padding: 32px 16px;
    }

    .small-card .card-icon {
        margin-bottom: 16px;
        /* Margin between icon and text */
        width: 56px;
        /* Adjust size as needed */
        height: 56px;
        /* Adjust size as needed */
    }

    .small-card {
        width: 100%;
    }

    .small-card-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        /* 2x2 grid on desktop */
        gap: 14px;
    }

    .small-card .card-icon,
    .small-card .card-title,
    .small-card .card-description {
        width: auto;
        margin: 0;
        text-align: left;
    }

    .small-card .card-icon {
        margin-right: 16px;
        margin-bottom: 16px;
        float: left;
    }

    .small-card .card-title,
    .small-card .card-description {
        float: none;
    }

    .about-us-component {
        flex-direction: column;
    }

    .about-us-columns {
        flex-direction: column;
    }

    .about-us-left-component,
    .about-us-right-component,
    .character-info,
    .grid-2x2 {
        width: 100%;
    }

    .about-us-left-component {
        margin-bottom: 16px;
    }

    .why-us-section-container-grid {
        flex-direction: column;
        gap: 48px;
    }

    .why-us-section-container-item {
        flex-basis: 100%;
        gap: 12px;
    }

    .footer-container {
        padding: 0;
    }

    .address-contact-column {
        flex-direction: row;
        /* Arrange columns horizontally on mobile */
    }

    .address-column,
    .contact-us-column {
        flex: none;
        /* Prevent columns from stretching */
        width: 100%;
        /* Each column takes half of the container width */
    }

    .copyright-and-links {
        flex-direction: column;
    }

    .footer-links {
        display: flow
    }

    .footer-links a {
        margin-left: 0px;
        margin-right: 32px;
        line-height: 2.0rem;
    }

    .copyright-info {
        margin-right: inherit;
        margin-bottom: 16px;
    }

    .inner-page-header-content {
        bottom: 10%;
        left: 5%;
        padding: 16px 16px;
        width: 80%;
    }

    .inner-page-header-content h1 {
        font-size: 2.0rem;
    }

    .inner-page-header-content h5 {
        font-size: 1.3rem;
    }

    .article-container-section {
        padding: 0 16px;
    }

    .article-section-2-col-image-text {
        flex-direction: column;
        gap: 0px;
        padding: 16px;
    }

    .article-section-2-col-image {
        min-height: 320px;
        background-position-y: 30%;
    }

    .article-section-full-screen-background-text {
        padding: 16px;
    }

    .article-section-2-col-text-container {
        gap: 0px;
    }

    .article-section-text-column {
        flex: 100%;
    }

    .three-icon-container {
        padding: 32px;
    }

    .three-icon-column {
        flex: 100%;
    }

    .video-cards {
        flex-wrap: nowrap;
        display: grid;
    }

    .video-card-spacer {
        flex-basis: 100%;
    }
    .video-card-spacer iframe {
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .footer-container {
        padding: 0;
    }

    .brand-column {
        flex: 1;
        /* Prevent columns from stretching */
    }

    .address-column,
    .contact-us-column {
        flex: 1;
        /* Prevent columns from stretching */
        width: 50%;
        /* Each column takes half of the container width */
    }

    .copyright-and-links {
        flex-direction: column;
    }

    .copyright-info {
        margin-bottom: 24px;
        margin-right: 0;
        width: auto;
    }

    .footer-links {
        display: flex;
        justify-content: center;
        width: 100%;
        align-self: flex-end;
    }

    .article-container-section {
        padding: 0 16px;
    }
}
