.quote-calculator-container {
    padding: 16px 0;
}

.quote-calculator {
    max-width: 768px;
    margin: auto;
    border: 1px solid #D7D7D7;
    background-color: #fff;
}

.form-section {
    margin-top: 32px;
    margin-bottom: 32px;
    padding-left: 12px;
}

.first-applicant {
    border-left: 2px solid #9DB355;
}

.second-applicant {
    display: none;
    border-left: 2px solid #D2476A;
}

.section-heading {
    margin: 32px 0px 16px 0px;
}

.col-3-form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px;
    margin-top: 16px;
}

.form-grid-item {
    width: auto;
}
.couple-quote {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin: 8px 0px 12px 0px;
}
.applicant-price {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
}
.applicant-bullet {
    height: 24px;
    width: 24px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* TABLE STYLE STARTS */
.quote-table-container {
    max-width: 1440px;
    margin: auto;
}

.quote-table {
    width: 100%;
}

.quote-table tr:first-child {
    background-color: #F1F1F1;
    font-weight: 500;
}

.quote-table tr th {
    padding: 16px;
}

.quote-table tr td {
    padding: 16px;
    border-bottom: 2px solid #D7D7D7;
}

.quote-table td {
    text-align: center;
}

.quote-table td img {
    max-height: 56px;
    max-width: 200px;
}

.quote-table-actions {
    text-align: right;
}

.quote-table-actions img {
    margin-left: 16px;
    cursor: pointer;
}

/* TABLE STYLE ENDS   */
/* QUOTE CARD START */
.card-style {
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    display: none;
}
.quote-card {
    max-width: 330px;
    width: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: solid 1px #D7D7D7;
}
.quote-card a {
    cursor: pointer;
    text-decoration: underline;
    font-weight: 700;
}
.quote-card img {
    max-height: 52px;
    max-width: 246px;
}
.quote-card p {
    margin-top: 0px;
}
.margin-top-p-12 {
    margin-top: 12px !important;
}
.quote-card-fotter{
    width: 100%;
    background-color: #ecf7ff;
    color: #0672C4;
    text-align: center;
    padding: 8px;
    margin-top: 8px !important;
}
/* QUOTE CARD ENDS  */
@media (max-width: 768px) {
    .quote-calculator-container {
        padding: 16px 8px;
    }

    .quote-card {
        flex: 0 0 100%;
        /* Full width on mobile */
        max-width: 100%;
        width: 100%;
    }

    .table-style,
    .quote-table-actions {
        display: none;
    }
    .card-style {
        display: flex;
    }
}