.testimonials-container {
    max-width: 1440px;
    margin: auto;
}
.testimonials-item {
    background-color: #fff;
    padding: 32px;
    border-radius: 8px;
}
.testimonials-item img{
    max-width: 72px;
    border-radius: 50%;
    margin-right: 24px;
    vertical-align: middle;
}
.testimonials-item-info {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.testimonials-item-rating{
    margin-top: 16px;
    font: .9rem;
    color: #FFD600;
    -webkit-text-stroke: 1px #FFA800;
    text-stroke : 1px #FFA800;
}
.swiper-pagination {
    position: relative;
    margin-top: 40px;
    bottom: auto;
}
.swiper-pagination-bullet {
    height: 15px;
    width: 15px;
    border: 3px solid #D2476A;
    background-color: transparent;
}
.google-review-container {
    display: flex;
    align-items: center; /* Center the items vertically */
    justify-content: center; /* Center the items horizontally */
    gap: 32px;
}

.buttons-container {
    display: flex;
    flex-direction: column; /* Arrange buttons in a column */
}

.buttons-container button {
    margin-top: 8px; /* Adjust the spacing between buttons */
}
@media (max-width: 768px) {
    .google-review-container img{
        max-width: 160px;
    }
}